/* previous homepage bento grid

.home {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 10vw));
    grid-gap: 0.5rem;
    padding-top: 5rem;
    
    .item {
        max-width: 100%;
        max-height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item1 {
        grid-area: 1/1/6/4;
    }
    .item2 {
        grid-area: 1/4/3/6;
    }
    .item3 {
        grid-area: 1/6/4/11;
    }
    .item4 {
        grid-area: 3/4/6/6;
    }
    .item5 {
        grid-area: 4/6/6/8;
    }
    .item6 {
        grid-area: 4/8/8/11;
    }
    .item7 {
        grid-area: 6/1/8/5;
    }
    .item8 {
        grid-area: 6/5/11/8;
    }
    .item9 {
        grid-area: 8/1/11/5;
    }
    .item10 {
        grid-area: 8/8/11/11;
    }
}

@media screen and (max-width: 800px) {
    .home {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 10vw));
        grid-gap: 0.5rem;
        margin: 2rem auto;
        padding-top: 5rem;
        
        .item {
            max-width: 100%;
            max-height: 100%;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        // linke reihe
        .item6 {
            grid-area: 1/1/7/6;
        }
        .item1 {
            grid-area: 7/1/11/6;
        }
        .item3 {
            grid-area: 11/1/18/6;
        }
        // rechte reihe
        .item9 {
            grid-area: 1/6/4/10;
        }
        .item8 {
            grid-area: 4/6/9/10;
        }
        .item4 {
            grid-area: 9/6/15/10;
        }
        .item7 {
            grid-area: 15/6/18/10;
        }
        
        
        .item2 {
            display: none;
        }
        
        .item5 {
            grid-area: 4/6/6/8;
            display: none;
        }      
        
        .item10 {
            grid-area: 8/8/11/11;
            display: none;
        }
    }
}
*/

.preview_work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;

  .imageContainer_work {
    display: block;
    position: relative;
    width: 35vw;
    max-width: 640px; //
    height: 45vh;
    max-height: 480px; //
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }

    .overlay_work {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      text-align: center;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25%;
      background-color: rgba(255, 255, 255, 0.7);
      cursor: pointer;

      p {
        font-size: 1.25rem;
        color: rgb(72, 72, 72);

        &:hover {
          color: rgb(91, 18, 100);
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .preview_work {
    gap: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .preview_work {
    .imageContainer_work {
      width: 40vw;

      .overlay_work {
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .preview_work {
    padding: 0 0 5rem 0;

    .imageContainer_work {
      width: 80vw;
    }
  }
}

.about {
  .aboutContentGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1.1rem;
        line-height: 1.5;
        padding: 3rem;
      }

      img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3rem;
        padding: 2rem;
      }
    }
  }

  .aboutContentFlex {
    display: flex;
    flex-direction: column;

    .item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1.125rem;
        line-height: 1.5;
        text-align: center;
        padding: 2rem;
      }

      img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about {
    .aboutContentGrid {
      gap: 2rem;

      .item {
        p {
          font-size: 1.1rem;
          padding: 1rem;
        }

        img {
          border-radius: 2rem;
          padding: 1rem;
        }
      }
    }

    .aboutContentFlex {
      .item {
        p {
          font-size: 1.1rem;
          padding: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about {
    .aboutContentGrid {
      display: flex;
      flex-direction: column;

      .item {
        p {
          font-size: 1.1rem;
          text-align: center;
          padding: 1rem;
        }

        img {
          border-radius: 2rem;
          padding: 1rem;
        }
      }
    }

    .aboutContentFlex {
      .item {
        p {
          font-size: 1.1rem;
          padding: 1rem;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

.cv {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .cv {
    width: 90%;
  }
}

.media {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;

  .mediaGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 4rem;

    .gridItem {
      padding-left: 20%;

      p {
        font-size: 1.1rem;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (max-width: 756px) {
  .media {
    .mediaGrid {
      display: flex;
      flex-direction: column;
      width: 100%;

      .gridItem {
        padding-left: 4rem;

        p {
          font-size: 1.1rem;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .media {
    width: 90%;

    .mediaGrid {
      .gridItem {
        padding-left: 1rem;
      }
    }
  }
}

.artistTalks {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .videoGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .videoWrapper {
      width: 40vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ytVideo {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
      }

      .ytVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .videoDescription {
        font-size: 1.1rem;
        padding-top: 2rem;
        padding-bottom: 4.5rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .artistTalks {
    .videoGrid {
      .videoWrapper {
        width: 80vw;
        .videoDescription {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 564px) {
  .artistTalks {
    .videoGrid {
      .videoWrapper {
        width: 95vw;
        .videoDescription {
          font-size: 1rem;
          padding-top: 2rem;
          padding-bottom: 3.5rem;
        }
      }
    }
  }
}
