@import "tailwindcss";

@layer base {
  :root {
    --textColor: rgb(24, 20, 14);
    --textColorNegative: rgb(250, 235, 215);
    --bgColor: white;

    font-family: Helvetica, Avenir, system-ui, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    @apply w-screen h-screen scroll-smooth;
  }
  body {
    @apply w-screen min-h-screen flex flex-col items-center mx-auto overflow-x-hidden;
  }
  a,
  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply relative no-underline tracking-[0px];
  }

  p,
  a,
  li {
    @apply text-[1.1rem] text-[var(--textColor)] leading-[1.5];
  }
  li {
    @apply list-none cursor-pointer px-4 py-2;
  }
  h2 {
    @apply w-full text-[1.5rem] md:text-[1.75rem] text-[var(--textColor)];
  }
  h3 {
    @apply w-full;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .nav-item {
    @apply cursor-pointer text-[var(--textColor)];
  }

  .h2-standard {
    @apply w-full px-12 md:px-24 lg:px-[10%] pt-6 pb-12;
  }

  .h2-standard-2 {
    @apply w-full px-6 md:px-12 lg:px-[5%] pt-6 pb-12;
  }

  .icon {
    @apply cursor-pointer text-[2.2rem] text-[var(--textColor)] hover:text-[#4f4f4f] transition-all duration-200;
  }
  .icon-navbar {
    @apply cursor-pointer text-[var(--textColor)] hover:text-[gray] transition-all duration-200;
  }

  .gridItem {
    @apply min-w-[350px] lg:min-w-[450px];
  }
}
